#image{
	
	height:660px; 
	width:555px;
    position: relative;
    bottom: 0px;
    right: 85px;
    background-size: 100% 100%;
    
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#sign{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	position: fixed;
	top: 218px;
	right:300px;
}

input[type=submit] {
  background-color: #0E357D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit] {
  opacity: 0.8;
}

table {
  border-collapse: collapse;
  width: 100%;

}

